.video-wrapper {
  width: 70vw;
  /* change this */
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

.vjs-skip {
  position: absolute;
  bottom: 60px;
  /* above control bar */
  right: 50px;
  /* float to right */
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 12px 20px;
  border-radius: 6px;
  cursor: pointer;
  z-index: 10;
}

.btn-primary {
  background-color: rgb(59, 124, 59) !important;
  border-color: grey
}

.btn-primary:hover {
  border-color: grey
}

.modal-header{
  border: 0px;
}

.form-floating>.form-control, .form-floating>.form-control-plaintext {
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-radius: 0px;
}

.form-floating>.form-control, .form-floating>.form-control-plaintext:active{
  box-shadow: none;
}